<div class="col-7">
<%= form_for [:admin, @category, @word] do |f| %>
    <%= f.label :word %>   
    <%= f.text_field :words, class: "form-control" %>
    <br>
<%# Choices here%>
    <%= f.fields_for :choices do |fi| %>
        <div class="form-group mt-2">
            <%= fi.text_field :content, class: "form-control" %>
        </div>
        <div class="form-check">
            <%= fi.check_box :correct, class: "form-check-input" %>
            <%= f.label :correct, class: "form-check-label" %>
        </div>
    <% end %>
    <%= f.submit "Create", class: "submitBtn" %>
<% end %>
</div>