<% provide(:title, "Users") %>
<div class="form">
    <h1 class="text-center mb-4 display-4">List of Users</h1>
    <div class="containter">
        <div class="container m-4 d-flex justify-content-center">
            <%= will_paginate %>
        </div>
        <ul class="users">
            <% @users.each do |user| %>
                <hr class="m-0">
                <li>
                    <span class="d-inline-flex">
                        <%= gravatar_for user, size: 52 %>
                        <%= link_to user.name, user, class: "mx-2" %>
                        <%# link_to "| delete", user_path(user), method: :delete,
                                                            data: { confirm: "You sure?" } %>
                        <%#= button_to user_path(user), method: :delete, class: "btn btn-dark btn-sm",
                                                            data: { confirm: "You sure?" } do %>
                            <%#i class="fa fa-trash" aria-hidden="true"></i>
                        <% end %>
                            <% if current_user.administrator? %>
                                <%= button_to user_path(user), method: :delete, class: "btn btn-dark btn-sm",
                                                            data: { confirm: "You sure?" } do %>
                                        Delete
                                 <% end %>
                            <% end %>
                    </span>
                </li>
            <% end %>
            <hr class="m-0">
        </ul>
        <div class="container m-4 d-flex justify-content-center">
            <%= will_paginate %>
        </div>
    </div>
</div>